* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/*page container*/
.page{
    display:flex;
    width: 100vw;
    height: 100vh;
}


/*navbar container*/
.menu{
    z-index: 1;
    display:inline-block;
    width: 0;                   /*set to 10vw for page content*/
    height: 100vh;
    background-color: red;
    overflow-x: hidden;
    position: relative;
}


/*navbar title*/
.menu-name{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}


/*navigation links*/
.nav-links{
    display: list-item;
    list-style: none;
    width: 100%;
    height: auto;
    background-color: orange;
    padding: 5%;
    text-align: center;
}

.nav-links li a{
    
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: auto;
    text-decoration: none;
    align-items: center;
}


/*social media links*/
.contacts{
    position: absolute;
    bottom: 0;
    margin-right: 5px;
    background-color: lawngreen;
    height: 10%;
    width: inherit;
}


/*navbar button*/
.btn-menu{
    color: white;
    font-size: 2rem;
    top: 0;
    float: left;
    border: none;
    background-color: transparent;
    outline: none;
    position: sticky;
    z-index: 1;
}

.btn-menu:hover{
    color: black;
    transition: 0.5s;
}


/*main content*/
.content-container{
    width: 100vw;       /*set to 90vw for menu*/
    height: 100vh;
    background-color: wheat;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-container::-webkit-scrollbar{
    display: none;
}

.banner{
    top: 0;
    width: 100vw;
    height: 20vh;
    background-color: brown;
}

.content{
    background-color: cornflowerblue;
}